<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.idsoft.firebase_title">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <meta-data
        android:name="firebase_crashlytics_collection_enabled"
        android:value="false" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".analytics.AanlyticsActivity"></activity>
        <activity android:name=".analytics.threeActivity" />
        <activity android:name=".analytics.twoActivity" />
        <activity android:name=".analytics.onetActivity" /> <!-- <activity android:name=".dynamiclink.Cactivity" /> -->
        <!-- <activity android:name=".dynamiclink.Bactvity" /> -->
        <!-- <activity android:name=".dynamiclink.Aactivity" /> -->
        <activity android:name=".dynamiclink.dynamiclink" />
        <activity android:name=".remoteconfig.remoteconfig" />
        <activity android:name=".cloudmessaging.cloud_messaging" />
        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_foreground" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="1" />

        <activity android:name=".crashlytics.CrashlyticsActivity" />
        <activity android:name=".hosting.hosting" />
        <activity android:name=".cloudstorage.FileListAdapter" />
        <activity android:name=".cloudstorage.FileListActivity" />
        <activity android:name=".cloudstorage.UploadInfo" />
        <activity android:name=".cloudstorage.MetaInfoActivity" />
        <activity android:name=".cloudstorage.UploadActivity" />
        <activity android:name=".cloudstorage.DowloadActivity" />
        <activity android:name=".cloudstorage.ColudStorageActivity" />
        <activity android:name=".auth.aauthactivity" />
        <activity android:name=".auth.firebaseuiactivity" />
        <activity android:name=".firesotre.firesotre" />
        <activity android:name=".realtimedb.MemoActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dynamiclink.Aactivity"
            tools:ignore="DuplicateActivity">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="firebase_title.pase.link"
                    android:scheme="http" />
                <data
                    android:host="firebase_title.pase.link"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dynamiclink.Bactvity"
            tools:ignore="DuplicateActivity">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="test1.com"
                    android:scheme="http" />
                <data
                    android:host="test1.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dynamiclink.Cactivity"
            tools:ignore="DuplicateActivity">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="test2.com"
                    android:scheme="http" />
                <data
                    android:host="test2.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <service
            android:name=".cloudmessaging.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>